<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>예약 완료</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="container">
    <h1>예약 완료</h1>
    <p>예약이 완료되었습니다!</p>
    <p><strong>성함:</strong> {{ name }}</p>
    <p><strong>온실:</strong> {{ greenhouse }}</p>
    <p><strong>대여 기간:</strong> {{ duration }} {{ rental_period }}</p>
    <p><strong>총 금액:</strong> {{ total_price|intcomma }}원</p>
  </div>
</body>
</html>
s